<!DOCTYPE html>
<html>
<head>
  <title>Property</title>
  <%= stylesheet_link_tag    "property/application", media: "all" %>
  <%= javascript_include_tag "property/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
